@font-face{
font-family:Tattoo ink;
src:url(../font/TATTI__.TTF);
}

@font-face{
font-family:hardcore_pen;
src:url(../font/hardcore_pen_regular.ttf);
}

@font-face{
font-family: skratch punk;
src: url(../font/Skratch_Punk.ttf);
}