<!Doctype html>
<html lang="es">
	<head>
		<title>Forrest Gump | Official Site</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximun-scale=1, minimum-scale=1">
		<link rel="stylesheet" href="../css/fontello.css">
		<link rel="stylesheet" href="../css/fuentes.css">
		<link rel="stylesheet" href="../css/flexslider.css">
		<link rel="stylesheet" href="../css/Style.css">
        
	</head>
	<body>

		<header class="header">
			<div class="container brand-nav-container">
				<div class="logo-container">
					<img src="../images/bannerband.jpg" class="img-logo" >
				</div>
					<i class="fas fa-bars btn-menu" id="btn-menu"></i>
					<nav class="menu ">
						<i class="fas fa-times-circle btn-close" id="btn-close"></i>
						<ul>
							<li><a href="../index.html">Home</a></li>
							<li><a href="shows.html">Shows</a></li>
							<li><a href="music.html">Music</a></li>
							<li><a href="videos.html">Videos</a></li>
							<li><a href="photos.html">Photos</a></li>
							<li><a href="store.html">Store</a></li>
						</ul>
					</nav>
			</div>
        </header>	
        
        <section class="music-container">
            <div class="music-discography">
                <div class="music-discography-banner">
                    <img src="" alt="">
                </div>
                <h1>Discografia</h1>
                <div class="info-album">
                    <div class="imagen-albumname-container"> 
                        <div class="imagen-container">
                            <img src="https://f4.bcbits.com/img/a0783942361_10.jpg" alt="">
                        </div>
                        <div>
                        <h3>Per Aspera Ad Astra <br>2017</h3>
                        <button>Escuchar<i class="fas fa-volume-down" style="color: red; margin-left:10px"></i></button>
                    </div>
                    </div>
                
                <TaBLe class="album-songs">
                    <tr>
                        <td><div class="track"><i>1</i></div></td>
                        <td>Blinded</td>
                        <td><a href="">Lyric</a></td>
                    </tr>
                    <tr>
                        <td><div class="track"><i>2</i></div></td>
                        <td>Efecto Mariposa</td>
                        <td><a href="">Lyric</a></td>
                    </tr>
                    <tr>
                        <td><div class="track"><i>3</i></div></td>
                        <td>Heroe de Guerra</td>
                        <td><a href="">Lyric</a></td>
                    </tr>
                    <tr>
                        <td><div class="track"><i>4</i></div></td>
                        <td>Un Consejo</td>
                        <td><a href="">Lyric</a></td>
                    </tr>
                    <tr>
                        <td><div class="track"><i>5</i></div></td>
                        <td>Recuerdos</td>
                        <td><a href="">Lyric</a></td>
                    </tr>
                    <tr>
                        <td><div class="track"><i>6</i></div></td>
                        <td>Fenix</td>
                        <td><a href="">Lyric</a></td>
                    </tr>
                    <tr>
                        <td><div class="track"><i>7</i></div></td>
                        <td>El Engaño</td>
                        <td><a href="">Lyric</a></td>
                    </tr>
                </TaBLe>
            </div>
            </div>
        </section>
        <footer>
            <div>
                <p>© Forrest Gump Band. Todos los derechos reservados</p>
            </div>
            <div class="icons-social">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a><i class="fab fa-youtube"></i></a>
                <a> <i class="fab fa-spotify"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
            </div>
        </footer>
       
	</body>			
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script src="js/jquery.flexslider.js"></script>
        <script src="https://kit.fontawesome.com/b88c9ebb56.js" crossorigin="anonymous"></script>
        <script src="../js/menu.js"></script>
</html>