<!Doctype html>
<html lang="es">
	<head>
		<title>Forrest Gump | Official Site</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximun-scale=1, minimum-scale=1">
		<link rel="stylesheet" href="../css/fontello.css">
		<link rel="stylesheet" href="../css/fuentes.css">
		<link rel="stylesheet" href="../css/flexslider.css">
		<link rel="stylesheet" href="../css/Style.css">
        
	</head>
	<body>

		<header class="header">
			<div class="container brand-nav-container">
				<div class="logo-container">
					<img src="../images/bannerband.jpg" class="img-logo" >
				</div>
					<i class="fas fa-bars btn-menu" id="btn-menu"></i>
					<nav class="menu ">
						<i class="fas fa-times-circle btn-close" id="btn-close"></i>
						<ul>
							<li><a href="../index.html">Home</a></li>
							<li><a href="shows.html">Shows</a></li>
							<li><a href="music.html">Music</a></li>
							<li><a href="videos.html">Videos</a></li>
							<li><a href="photos.html">Photos</a></li>
							<li><a href="store.html">Store</a></li>
						</ul>
					</nav>
			</div>
		</header>		
        
        <section class="shows-container">
            <div class="shows-calendar">
                <div class="shows-calendar-banner">
                    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/0f19e679227789.5cbd558a21a85.jpg" alt="">
                </div>
                <h1>Proximas Fechas</h1>
                <TABLe>
                    <tr>
                        <th>Fecha</th>
                        <th>Concierto</th>
                        <th>Info</th>
                        <th>Tickets</th>
                    </tr>
                    <tr>
                        <td><div class="date">14<i>Mar</i></div></td>
                        <td>Festival 3.14 /<i class="spot"> Cadillac bar - Normandia </i>/ Bogota</td>
                        <td><a href=""><i class="fas fa-eye"></i></a></td>
                        <td><a href=""><i class="fas fa-ticket-alt"></i></a></td>
                    </tr>
                    <tr>
                        <td><div class="date">21<i>Dic</i></div></td>
                        <td>Jumptime Fest /<i class="spot"> Storm bar - Restrepo </i>/ Bogota</td>
                        <td><a href=""><i class="fas fa-eye"></i></a></td>
                        <td><a href=""><i class="fas fa-ticket-alt"></i></a></td>
                    </tr>
                    <tr>
                        <td><div class="date">20<i>Dic</i></div></td>
                        <td>Final Baltika Records /<i class="spot"> El Cuervo bar - Fontibon </i>/ Bogota</td>
                        <td><a href=""><i class="fas fa-eye"></i></a></td>
                        <td><a href=""><i class="fas fa-ticket-alt"></i></a></td>
                    </tr>
                </TABLe>
            </div>
        </section>
        <footer>
            <div>
                <p>© Forrest Gump Band. Todos los derechos reservados</p>
            </div>
            <div class="icons-social">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a><i class="fab fa-youtube"></i></a>
                <a> <i class="fab fa-spotify"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
            </div>
        </footer>
       
	</body>			
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script src="js/jquery.flexslider.js"></script>
        <script src="https://kit.fontawesome.com/b88c9ebb56.js" crossorigin="anonymous"></script>
        <script src="../js/menu.js"></script>
</html>