<!Doctype html>
<html lang="es">
	<head>
		<title>Forrest Gump | Official Site</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximun-scale=1, minimum-scale=1">
		<link rel="stylesheet" href="../css/fontello.css">
		<link rel="stylesheet" href="../css/fuentes.css">
		<link rel="stylesheet" href="../css/flexslider.css">
		<link rel="stylesheet" href="../css/Style.css">
        
	</head>
	<body>

		<header class="header">
			<div class="container brand-nav-container">
				<div class="logo-container">
					<img src="../images/bannerband.jpg" class="img-logo" >
				</div>
					<i class="fas fa-bars btn-menu" id="btn-menu"></i>
					<nav class="menu ">
						<i class="fas fa-times-circle btn-close" id="btn-close"></i>
						<ul>
							<li><a href="../index.html">Home</a></li>
							<li><a href="shows.html">Shows</a></li>
							<li><a href="music.html">Music</a></li>
							<li><a href="videos.html">Videos</a></li>
							<li><a href="photos.html">Photos</a></li>
							<li><a href="store.html">Store</a></li>
						</ul>
					</nav>
			</div>
		</header>		
        <section class="music-container">
            <div class="music-discography">
                <div class="title-banner"><p>Forrest Gump</p></div>
                <div class="merch-banner">
                    <img src="https://scontent.fbog3-1.fna.fbcdn.net/v/t45.5328-0/s552x414/70628944_2977933758943213_2427825577978232832_n.jpg?_nc_cat=103&_nc_sid=c48759&_nc_ohc=ZRpSnDBqDAsAX-6bYc9&_nc_ht=scontent.fbog3-1.fna&_nc_tp=7&oh=73347b1d567cfadc00dc9b695e2a7bb4&oe=5F0F45F8" alt="">
                </div>
                <h1>Merch</h1>
                <div class="store-container">
                    <div class="product">
                        <img src="https://scontent.fbog3-1.fna.fbcdn.net/v/t45.5328-0/s552x414/70806236_2352168138244877_6529418358092201984_n.jpg?_nc_cat=102&_nc_sid=c48759&_nc_ohc=T6xgru7-5LoAX8artiv&_nc_ht=scontent.fbog3-1.fna&_nc_tp=7&oh=b1ec58ec4374f8dfd0ed2f272b4c5ea1&oe=5F0F73E7" alt="">
                        <p>Per Aspera Ad Astra EP</p>
                        <div class="detail-product">
                            <h3>$17.000</h3>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="product">
                        <img src="https://scontent.fbog3-1.fna.fbcdn.net/v/t45.5328-0/p180x540/70365014_3608169445875337_2376541478030671872_n.jpg?_nc_cat=101&_nc_sid=c48759&_nc_ohc=ep7fwAeF5a4AX_OEHkN&_nc_ht=scontent.fbog3-1.fna&_nc_tp=6&oh=e16afbf0b778db3ca7aac056a5368b15&oe=5F10508B" alt="">
                        <p>Camiseta Forrest Gump converse - color gris</p>
                        <div class="detail-product">
                            <h3>$35.000</h3>
                            <button>Comprar</button>
                        </div>
                    </div>
                    <div class="product">
                        <img src="https://scontent.fbog3-1.fna.fbcdn.net/v/t45.5328-0/p180x540/70593527_3559789870713413_3380794716911042560_n.jpg?_nc_cat=105&_nc_sid=c48759&_nc_ohc=PpIM4mUx6PwAX-LVLAd&_nc_ht=scontent.fbog3-1.fna&_nc_tp=6&oh=a8c791b92465c11813d2d697a751a81f&oe=5F10DCFA" alt="">
                        <p>Pines Forrest Gump banner c/u</p>
                        <div class="detail-product">
                            <h3>$5.000</h3>
                            <button>Comprar</button>
                        </div>
                    </div>
                </div>   
                <button>Ver mas +</button>
            </div>
        </section>
        <footer>
            <div>
                <p>© Forrest Gump Band. Todos los derechos reservados</p>
            </div>
            <div class="icons-social">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a><i class="fab fa-youtube"></i></a>
                <a> <i class="fab fa-spotify"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
            </div>
        </footer>
       
	</body>			
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script src="https://kit.fontawesome.com/b88c9ebb56.js" crossorigin="anonymous"></script>
		<script src="../js/menu.js"></script>
</html>