<!Doctype html>
<html lang="es">
	<head>
		<title>Forrest Gump | Official Site</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximun-scale=1, minimum-scale=1">
		<link rel="stylesheet" href="../css/fontello.css">
		<link rel="stylesheet" href="../css/fuentes.css">
		<link rel="stylesheet" href="../css/flexslider.css">
		<link rel="stylesheet" href="../css/Style.css">
        
	</head>
	<body>

		<header class="header">
			<div class="container brand-nav-container">
				<div class="logo-container">
					<img src="../images/bannerband.jpg" class="img-logo" >
				</div>
					<i class="fas fa-bars btn-menu" id="btn-menu"></i>
					<nav class="menu ">
						<i class="fas fa-times-circle btn-close" id="btn-close"></i>
						<ul>
							<li><a href="../index.html">Home</a></li>
							<li><a href="shows.html">Shows</a></li>
							<li><a href="music.html">Music</a></li>
							<li><a href="videos.html">Videos</a></li>
							<li><a href="photos.html">Photos</a></li>
							<li><a href="store.html">Store</a></li>
						</ul>
					</nav>
			</div>
		</header>		
        <section class="music-container">
            <div class="music-discography">
                <div class="music-discography-banner">
                    <img src="" alt="">
                </div>
                <h1>Videos</h1>
                <h3>Videos Oficiales</h3>
              
                    <div class="video-container">
                        <iframe width="949" height="534" src="https://www.youtube.com/embed/RVCn8XxzJ-8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <iframe width="949" height="534" src="https://www.youtube.com/embed/87CrEd7RDjg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <h3>Videos en vivo</h3>
                    <div class="video-container">
                        <iframe width="949" height="534" src="https://www.youtube.com/embed/rtogGHyJbbc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <iframe width="949" height="534" src="https://www.youtube.com/embed/LpqROAgWgnE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    
            </div>
        </section>
        <footer>
            <div>
                <p>© Forrest Gump Band. Todos los derechos reservados</p>
            </div>
            <div class="icons-social">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a><i class="fab fa-youtube"></i></a>
                <a> <i class="fab fa-spotify"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
            </div>
        </footer>
       
	</body>			
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script src="js/jquery.flexslider.js"></script>
		<script src="https://kit.fontawesome.com/b88c9ebb56.js" crossorigin="anonymous"></script>
		<script src="../js/menu.js"></script>
</html>